<div class="container">
  <h1>Instruments to Rent</h1>
  <%= link_to "Home", root_path %>
  <div class="row">
    <% @instruments.each do |instrument| %>
    <div class="col-4 my-3">
      <%= link_to instrument_path(instrument), style: "text-decoration: none;" do %>
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center"><%= instrument.name %>
            <% if user_signed_in? && current_user == instrument.user %>
              <span class="badge bg-primary">My Instrument</span>
            <% end %>
          </h5>
          <%= cl_image_tag instrument.photos.first.key, class: "card-img-top", alt: instrument.name, crop: :fill %>
          <p class="card-text"><%= instrument.description %></p>
          <p class="card-text"><strong>Type:</strong> <%= instrument.instrument_type %></p>
          <p class="card-text"><strong>Price:</strong> $<%= instrument.price_per_day %>€ per day</p>
          <p class="card-text text-muted mb-0">
          <i class="fa fa-user"></i>
          Owned by: <%= instrument.user.first_name %> <%= instrument.user.last_name %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
